<% page.posts.each(function(post){ %>
  <%- partial('_partial/article', {post: post, index: true}) %>
<% }) %>
<% if (page.prev || page.next){ %>
<hr>
<nav class="level">
  <% if (page.next) { %>
    <a href="<%- url_for(page.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
      <strong class="article-nav-caption"><%= __('older') %></strong>
      <div class="article-nav-title">
        <%= page.next.title %>
        <div>
          <%= date(page.next.date, 'MMMM D, YYYY') %>
        </div>
      </div>
    </a>
  <% } %>
  <% if (page.prev) { %>
  <a href="<%- url_for(page.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
    <strong class="article-nav-caption"><%= __('newer') %></strong>
    <div class="article-nav-title">
      <%= page.prev.title %>
      <div>
        <%= date(page.prev.date, 'MMMM D, YYYY') %>
      </div>
    </div>
  </a>
  <% } %>
</nav>
<% } %>
