<div class="archives-container">
  <h3 class="is-size-6 has-text-centered has-text-weight-bold has-text-grey">
    <% if (categories.length == 1){ %>
      <%= __('categories_total_count_one', categories.length) %>
    <% } else { %>
      <%= __('categories_total_count', categories.length) %>
    <% } %>
  </h3>
  <section class="section">
    <% categories.sort('name').map(function(category){  %>
    <div class="section-container" id="<%= category.name %>">
      <h1 class="categories-article-header">
        <span class="icon categories-header-icon">
          <i class="fas fa-folder-open"></i>
        </span>
        <span class="is-size-4 has-text-weight-bold">
          <%= category.name %>
        </span>
      </h1>
      <div class="archives">
        <% category.posts.sort('-date').map(function(post, i){  %>
          <%- partial('_partial/archive-post', {post: post, index: true}) %>
          <% if (post.subtitle && post.subtitle.length) { %>
          <h3 class="post-subtitle">
            <%- post.subtitle %>
          </h3>
          <% } %>
        <% }) %>
      </div>
    </div>
    <% }) %>
  </section>
</div>
